.cyborgtranslate-disclaimer-modal.ui-widget.ui-front {
  z-index: 1000;
  border: solid black 3px !important;
  background: white;
  --ct-gin-border-color-layer: var(--gin-border-color-layer, rgba(0, 0, 0, 0.08));
  --ct-gin-border-m: var(--gin-border-m, .5rem);
  --ct-gin-bg-app: var(--gin-bg-app, rgb(249, 251, 248)); }
  .cyborgtranslate-disclaimer-modal.ui-widget.ui-front .ui-dialog .ui-dialog-titlebar {
    line-height: 1.2;
    padding: 1rem 1.5rem;
    background: #1b1b1d;
    border: 0 none;
    border-radius: 0;
    position: relative; }
  .cyborgtranslate-disclaimer-modal.ui-widget.ui-front .ui-dialog .ui-widget-content.ui-dialog-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .25rem; }
  .cyborgtranslate-disclaimer-modal.ui-widget.ui-front .ui-dialog .ui-widget-content.ui-dialog-buttonpane {
    padding: .75rem 1.5rem;
    border-top: 1px solid var(--ct-gin-border-color-layer);
    border-bottom-left-radius: var(--ct-gin-border-m);
    border-bottom-right-radius: var(--ct-gin-border-m);
    background: var(--gin-bg-app); }
