.cyborgtranslate-disclaimer-modal.ui-widget.ui-front {
  // Sometimes this is set correctly by the inline styles but not always.
  z-index: 1000;
  // Important needed to override gin's components/dialog's important.
  border: solid black 3px !important;
  background: white;

  // Core dialog CSS relies on --gin variables being set that may not be.
  --ct-gin-border-color-layer: var(--gin-border-color-layer, rgba(0, 0, 0, 0.08));
  --ct-gin-border-m: var(--gin-border-m, .5rem);
  --ct-gin-bg-app: var(--gin-bg-app, rgb(249, 251, 248));
  // @TODO go back and do this default variable thing for the stuff hard-coded below, if it seems useful
  .ui-dialog .ui-dialog-titlebar {
    line-height: 1.2;
    padding: 1rem 1.5rem;
    background: #1b1b1d;
    border: 0 none;
    // Looks better not to have any border radius here.
    border-radius: 0;
    position: relative;
  }
  .ui-dialog .ui-widget-content.ui-dialog-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    // Looks better to have a little bit of space on top and bottom.
    padding-top: .5rem;
    padding-bottom: .25rem;
  }
  .ui-dialog .ui-widget-content.ui-dialog-buttonpane {
    padding: .75rem 1.5rem;
    border-top: 1px solid var(--ct-gin-border-color-layer);
    border-bottom-left-radius: var(--ct-gin-border-m);
    border-bottom-right-radius: var(--ct-gin-border-m);
    background: var(--gin-bg-app);
  }
}
