/* For language select list dropdown. */

.cyborgtranslate-btn {
  &:hover {
    cursor: pointer;
  }
}

.cyborgtranslate-language-selector-image {
  display: inline-block;
  width: 1.3rem;
}

.cyborgtranslate-dropdown {
  // Do not show when closed; see .cyborgtranslate-btn-checkbox:checked ~ .cyborgtranslate-dropdown for opening.
  position: relative;
  z-index: 1001;
  .cyborgtranslate-btn-checkbox {
    display: none;
  }
  ul.cyborgtranslate-dropdown-select-list {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    min-width: 10rem; // Otherwise in mobile view the words overflow all the time because it's like one rem wide.
    text-align: left;
    list-style: none;
    padding-left: 0;
    padding-right: 0; // For right-to-left languages.
    li a {
      padding: 0.3rem 0.3rem 0.3rem 0.6rem;
      width: 100%;
      display: inline-block;
      &:hover {
        background-color: whitesmoke;
      }
    }
    .is-active {
      background-color: #D8E2EC;
      font-weight: bold;
      color: black;
      cursor: default;
      text-decoration: none;
      a:hover {
        background-color: #D8E2EC;
        cursor: default;
      }
    }
  }
  // Show language dropdown when pressed.
  .cyborgtranslate-btn-checkbox:checked ~ ul.cyborgtranslate-dropdown-select-list {
    display: block;
  }
}
