/* For language select list dropdown. */
.cyborgtranslate-btn:hover {
  cursor: pointer; }

.cyborgtranslate-language-selector-image {
  display: inline-block;
  width: 1.3rem; }

.cyborgtranslate-dropdown {
  position: relative;
  z-index: 1001; }
  .cyborgtranslate-dropdown .cyborgtranslate-btn-checkbox {
    display: none; }
  .cyborgtranslate-dropdown ul.cyborgtranslate-dropdown-select-list {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    min-width: 10rem;
    text-align: left;
    list-style: none;
    padding-left: 0;
    padding-right: 0; }
    .cyborgtranslate-dropdown ul.cyborgtranslate-dropdown-select-list li a {
      padding: 0.3rem 0.3rem 0.3rem 0.6rem;
      width: 100%;
      display: inline-block; }
      .cyborgtranslate-dropdown ul.cyborgtranslate-dropdown-select-list li a:hover {
        background-color: whitesmoke; }
    .cyborgtranslate-dropdown ul.cyborgtranslate-dropdown-select-list .is-active {
      background-color: #D8E2EC;
      font-weight: bold;
      color: black;
      cursor: default;
      text-decoration: none; }
      .cyborgtranslate-dropdown ul.cyborgtranslate-dropdown-select-list .is-active a:hover {
        background-color: #D8E2EC;
        cursor: default; }
  .cyborgtranslate-dropdown .cyborgtranslate-btn-checkbox:checked ~ ul.cyborgtranslate-dropdown-select-list {
    display: block; }
