{#
/**
 * @file
 * Theme override for a set of links.
 *
 * Available variables:
 * - attributes: Attributes for the UL containing the list of links.
 * - links: Links to be output.
 *   Each link will have the following elements:
 *   - title: The link text.
 *   - href: The link URL. If omitted, the 'title' is shown as a plain text
 *     item in the links list. If 'href' is supplied, the entire link is passed
 *     to l() as its $options parameter.
 *   - attributes: (optional) HTML attributes for the anchor, or for the <span>
 *     tag if no 'href' is supplied.
 * - heading: (optional) A heading to precede the links.
 *   - text: The heading text.
 *   - level: The heading level (e.g. 'h2', 'h3').
 *   - attributes: (optional) A keyed list of attributes for the heading.
 *   If the heading is a string, it will be used as the text of the heading and
 *   the level will default to 'h2'.
 *
 *   Headings should be used on navigation menus and any list of links that
 *   consistently appears on multiple pages. To make the heading invisible use
 *   the 'visually-hidden' CSS class. Do not use 'display:none', which
 *   removes it from screen readers and assistive technology. Headings allow
 *   screen reader and keyboard only users to navigate to or skip the links.
 *   See http://juicystudio.com/article/screen-readers-display-none.php and
 *   http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 *
 * @see template_preprocess_links()
 */
#}
{{ attach_library('cyborgtranslate/switcher') }}
{% if links -%}
<div class="cyborgtranslate-dropdown">
  <input class="cyborgtranslate-btn-checkbox" type="checkbox" id="cyborgtranslate-btn-checkbox">
  <label class="cyborgtranslate-btn" for="cyborgtranslate-btn-checkbox">
    <span class="cyborgtranslate-language-selector-image">
      <svg role="img" viewBox="0 0 29 29" xmlns="http://www.w3.org/2000/svg" aria-labelledby="language-icon-title"><title id="language-icon-title">Language icon</title><path d="M24.33 4.17a14.82 14.82 0 0 1 1.79 2.18 13.7 13.7 0 0 1 1.3 2.45 14.14 14.14 0 0 1 0 10.9 14 14 0 0 1-1.3 2.45 14.74 14.74 0 0 1-3.96 3.96 14.1 14.1 0 0 1-2.45 1.31c-.859.352-1.75.62-2.66.8-1.85.36-3.75.36-5.6 0a14 14 0 0 1-5.1-2.11 14.82 14.82 0 0 1-2.18-1.79 14.27 14.27 0 0 1-3.09-4.62 13.33 13.33 0 0 1-.81-2.65 14.65 14.65 0 0 1 0-5.6c.177-.91.449-1.797.81-2.65a13.75 13.75 0 0 1 1.31-2.45A14 14 0 0 1 8.8 1.08a13.33 13.33 0 0 1 2.65-.81c1.85-.36 3.75-.36 5.6 0 .912.179 1.803.45 2.66.81a14.1 14.1 0 0 1 2.45 1.31 14.67 14.67 0 0 1 2.17 1.78ZM6 13.49c0-.4 0-.8.07-1.19.07-.39.07-.79.12-1.17.05-.38.1-.77.17-1.15.07-.38.14-.74.22-1.1-.26.1-.52.22-.77.34l-.75.37a11.36 11.36 0 0 0-1.33.88 7.29 7.29 0 0 0-1 .95 6.13 6.13 0 0 0-.73 1 4 4 0 0 0-.4 1.06l4.4.01ZM6 15H1.58c.087.372.229.73.42 1.06a6.2 6.2 0 0 0 .73 1c.3.365.635.7 1 1 .425.317.869.608 1.33.87a13.122 13.122 0 0 0 1.52.71c-.08-.36-.15-.73-.22-1.1-.07-.37-.12-.76-.17-1.14-.05-.38-.09-.78-.12-1.18C6.04 15.82 6 15.4 6 15ZM9.67 2.34a14.47 14.47 0 0 0-2.38 1.23 13.72 13.72 0 0 0-2 1.67 12.48 12.48 0 0 0-2.93 4.43 8.43 8.43 0 0 1 .92-.73 11.94 11.94 0 0 1 1.06-.65c.42-.23.86-.45 1.32-.65.46-.2.94-.38 1.43-.55.17-.5.35-1 .55-1.44.2-.44.42-.89.65-1.31.23-.42.44-.74.71-1.07a9.87 9.87 0 0 1 .67-.93ZM2.36 18.82a12.68 12.68 0 0 0 2.88 4.44 13.12 13.12 0 0 0 2.05 1.67c.747.491 1.545.9 2.38 1.22a9.87 9.87 0 0 1-.67-.93c-.23-.33-.45-.68-.67-1.06-.22-.38-.45-.86-.65-1.32-.2-.46-.38-.94-.55-1.44-.49-.16-1-.35-1.43-.55-.43-.2-.9-.42-1.32-.65a10 10 0 0 1-1.06-.65 8.43 8.43 0 0 1-.96-.73ZM13.51 7.51c-.47 0-.93 0-1.38.08-.45.08-.89.09-1.33.16L9.52 8c-.42.09-.83.19-1.23.31-.12.4-.22.81-.31 1.23-.09.42-.16.85-.22 1.28-.06.43-.12.88-.16 1.33-.04.45-.08.9-.09 1.36h6v-6Zm-6 7.49c0 .46 0 .91.09 1.36.09.45.09.89.16 1.33.07.44.14.86.24 1.31.1.45.19.83.31 1.23.4.12.81.22 1.23.31.42.09.85.16 1.28.23.43.07.88.12 1.33.16.45.04.85.07 1.36.07v-6h-6Zm6-13.42a4 4 0 0 0-1.07.4 4.52 4.52 0 0 0-1 .72 8 8 0 0 0-.95 1 9.22 9.22 0 0 0-.86 1.33 7.37 7.37 0 0 0-.39.74c-.12.26-.24.52-.34.78.36-.09.73-.16 1.1-.23l1.15-.16 1.17-.13c.4 0 .8-.05 1.21-.06l-.02-4.39Zm0 20.91c-.41 0-.81 0-1.21-.06-.4-.06-.78-.07-1.17-.12-.39-.05-.77-.11-1.15-.18-.38-.07-.74-.14-1.1-.23.1.27.22.54.34.79.12.25.25.5.39.73.243.473.531.922.86 1.34.285.362.603.697.95 1a4.81 4.81 0 0 0 1 .71 4 4 0 0 0 1.07.4l.02-4.38ZM15 6c.4 0 .8 0 1.19.06l1.18.13 1.14.16c.37.07.75.14 1.12.23-.12-.26-.24-.52-.35-.78-.11-.26-.28-.5-.38-.73a12.76 12.76 0 0 0-.9-1.33 8 8 0 0 0-1-1 4.76 4.76 0 0 0-1-.72 3.91 3.91 0 0 0-1-.44V6Zm6 7.48c0-.46 0-.91-.09-1.36-.09-.45-.09-.89-.15-1.33a17.056 17.056 0 0 0-.55-2.51c-.4-.12-.81-.22-1.22-.31l-1.29-.22c-.44-.07-.89-.12-1.34-.16-.45-.04-.9-.07-1.36-.08v6l6-.03ZM15 21c.46 0 .91 0 1.36-.09.45-.09.9-.09 1.34-.16.44-.07.86-.14 1.28-.23.42-.09.82-.19 1.22-.31.12-.4.22-.81.32-1.23.1-.42.17-.85.23-1.28.06-.43.11-.88.15-1.33.04-.45.1-.91.1-1.37h-6v6Zm0 5.92a3.91 3.91 0 0 0 1.06-.4 5.08 5.08 0 0 0 1-.71c.365-.3.7-.635 1-1 .322-.425.613-.873.87-1.34.13-.23.26-.48.38-.73s.24-.52.35-.79c-.37.09-.75.17-1.12.23-.37.06-.76.13-1.14.18a23.695 23.695 0 0 1-2.37.18L15 26.92ZM26.15 9.67a12.15 12.15 0 0 0-1.22-2.38 12.26 12.26 0 0 0-1.67-2 12.85 12.85 0 0 0-2.06-1.72 14.27 14.27 0 0 0-2.36-1.23 12.18 12.18 0 0 1 1.37 2c.23.42.44.86.64 1.31.207.47.39.951.55 1.44.5.17 1 .35 1.44.55.44.2.9.42 1.32.65.364.198.718.415 1.06.65.326.222.637.466.93.73Zm-7.31 16.48a13 13 0 0 0 4.42-2.89 12.33 12.33 0 0 0 1.67-2.06 12.15 12.15 0 0 0 1.22-2.38 8.56 8.56 0 0 1-.93.73 10 10 0 0 1-1.06.65 16.192 16.192 0 0 1-2.76 1.2c-.16.489-.343.97-.55 1.44-.2.46-.41.9-.64 1.32a12 12 0 0 1-.66 1.06c-.23.34-.47.64-.71.93Zm3.65-12.66h4.43a3.71 3.71 0 0 0-.4-1.06 5.53 5.53 0 0 0-.72-1 7.39 7.39 0 0 0-1-.95 10.44 10.44 0 0 0-1.32-.88l-.75-.37c-.25-.12-.52-.24-.79-.34.09.36.17.73.23 1.1.06.37.13.76.18 1.15.05.39.09.77.12 1.17.03.4.01.78.02 1.18Zm0 1.51c0 .4 0 .8-.06 1.19-.06.39-.07.79-.12 1.18-.05.39-.11.76-.18 1.14-.07.38-.14.74-.23 1.1.27-.1.54-.22.79-.33l.75-.38c.46-.27.901-.57 1.32-.9.365-.3.7-.635 1-1a5.59 5.59 0 0 0 .72-1 3.61 3.61 0 0 0 .4-1.06l-4.39.06Z"></path></svg>
    </span>
    <span class="cyborgtranslate-btn-inside">
      <span class="cyborgtranslate-btn-text">{% trans %}Select language{% endtrans %}</span><span class="navicon"></span>
    </span>
  </label>
  <ul{{ attributes.addClass("cyborgtranslate-dropdown-select-list") }}>
    {%- for item in links -%}
      <li{{ item.attributes }}>
        {%- if item.link -%}
          {{ item.link }}
        {%- elseif item.text_attributes -%}
          <span{{ item.text_attributes }}>{{ item.text }}</span>
        {%- else -%}
          {{ item.text }}
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</div>
{%- endif %}
